body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

:root {
  --grid-border-color: #999;
}

* {
  box-sizing: border-box;
}

.game {
  display: flex;
  align-items: flex-start;
}

.settings {
  margin-left: 20px;
}

.settings > * {
  margin-bottom: 10px;
  display: block;
  user-select: none;
}

.timer {
  text-align: center;
}

.input {
  border-right: 2px solid var(--grid-border-color);
  border-bottom: 2px solid var(--grid-border-color);
}
.input > .erase {
  font-size: 1.25rem;
  font-weight: bold;
  width: 100%;
  height: 2rem;
  background-color: #fff;
  border-left: 3px solid var(--grid-border-color);
}

.input > button {
  width: 100%;
  border: 0px;
  border-right: 1px solid var(--grid-border-color);
  border-bottom: 1px solid var(--grid-border-color);
}
.input > button:focus {
  outline: none;
}
.input > button:hover:enabled {
  background-color: #eee;
}

.input .cell {
  font-size: 1.75rem;
  width: 2.25rem;
  height: 2.25rem;
}

.board {
  display: grid;
  border-top: 1px solid var(--grid-border-color);
  border-left: 1px solid var(--grid-border-color);
  border-right: 3px solid var(--grid-border-color);
  border-bottom: 3px solid var(--grid-border-color);
}

.region {
  display: grid;
  border-top: 3px solid var(--grid-border-color);
  border-left: 3px solid var(--grid-border-color);
}

.cell {
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border: 0px;
  border-right: 1px solid var(--grid-border-color);
  border-bottom: 1px solid var(--grid-border-color);
  padding: 0;
  font-size: 1.75rem;
  font-weight: bold;
}

.cell:hover:enabled {
  background: #eee;
}

.cell.selected {
  background: #ccd7ff !important;
}

.cell:focus {
  outline: none;
}
