body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

* {
  box-sizing: border-box;
}

.game {
  display: flex;
  align-items: flex-start;
}

.settings {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.settings > * {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  user-select: none;
}

.timer {
  text-align: center;
}

.input-area {
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
}

.input-area > button {
  border: 0px;
  width: 100%;
  background-color: #fff;
  border-left: 3px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  height: 28px;
}

.input-area > button:hover:enabled {
  background-color: #eee;
}

.input-area > button:focus {
  outline: none;
}

.input .cell {
  font-size: 1.75rem;
  width: 2.25rem;
  height: 2.25rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 3px solid #999;
  border-bottom: 3px solid #999;
}

.region {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 3px solid #999;
  border-left: 3px solid #999;
}

.cell {
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border: 0px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 0;
  font-size: 1.75rem;
  font-weight: bold;
}

.cell:hover:enabled {
  background: #eee;
}

.cell.selected {
  background: #ccd7ff !important;
}

.cell:focus {
  outline: none;
}

.cell.invalid {
  color: RED;
}

.cell.valid {
  color: GREEN;
}
